<section class="py-3">
  <h1 class="display-5 mb-2">About Us</h1>
  <p>Guys, welcome to <b>MangaKun</b>!</p>
  <p>
    MangaKun is my passion project. It is a manga reader built for people who love immersive stories. I wanted to create
    more than just a regular manga viewer. Here, every panel can come alive with <u>sounds</u>, <u>sound effects</u>,
    <u>background music</u>, and <u>interactive overlays</u> to make reading manga fun and engaging.
  </p>
  <p>
    The initial idea was simple: create a manga reader that can scroll through pages on mouse click. However, I realized
    that it would be a lot more fun if you could move through not pages, but panels. Then I realized that panels can
    also have sounds, sound effects, and background music. And that it would be better to hide panels and have a way to
    reveal them as you go. In the end, it turned into something like a video player, but with still images.
  </p>
  <p>
    I also want to mention that I’ve poured my heart into every feature, from smooth page turns to subtle audio effects,
    to make reading manga more fun, engaging, and memorable. MangaKun is all about letting you experience the story, not
    just read it.
  </p>
  <p>
    Thank you for joining me on this journey. I hope MangaKun brings a smile to your face and a little magic to your
    manga adventures!
  </p>

  <img class="img-fluid border" src="/images/reading-is-fun.jpg" alt="Picture of manga characters reading manga">

</section>
